/* ROMBAK TOTAL BY ALDO GANTENG - RESPONSIVE MODE */
@keyframes animLand { 0% { background-position: 0px 0px; } 100% { background-position: -335px 0px; } }
@keyframes animSky { 0% { background-position: 0px 100%; } 100% { background-position: -275px 100%; } }
@keyframes animBird { from { background-position: 0px 0px; } to { background-position: 0px -96px; } }
@keyframes animPipe { 0% { left: 110%; } 100% { left: -100px; } }

* { box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }

html, body {
   height: 100%; width: 100%; overflow: hidden;
   margin: 0; padding: 0; background-color: #4ec0ca;
}

#gamecontainer {
   position: relative; width: 100vw; height: 100vh;
   display: flex; justify-content: center; align-items: center;
}

#gamescreen {
   position: relative; width: 100%; height: 100%;
   max-width: 500px; /* Biar di Tablet gak terlalu lebar banget */
   background-color: #4ec0ca; overflow: hidden;
}

#sky {
   position: absolute; top: 0; width: 100%; height: 100%;
   background-image: url('../assets/sky.png'); background-repeat: repeat-x;
   background-position: 0px 100%; animation: animSky 7s linear infinite;
}

#flyarea { position: absolute; bottom: 0; height: 100%; width: 100%; }

#land {
   position: absolute; bottom: 0; width: 100%; height: 20%;
   background-image: url('../assets/land.png'); background-repeat: repeat-x;
   z-index: 20; animation: animLand 2.5s linear infinite;
}

/* UI DI TENGAHIN SEMUA */
#bigscore { position: absolute; top: 50px; left: 50%; transform: translateX(-50%); z-index: 100; }
#splash { 
   position: absolute; top: 20%; left: 50%; transform: translateX(-50%);
   width: 188px; height: 170px; background: url('../assets/splash.png') no-repeat;
}
#scoreboard {
   position: absolute; top: 15%; left: 50%; transform: translateX(-50%);
   width: 236px; height: 280px; background: url('../assets/scoreboard.png') no-repeat;
   z-index: 1000; display: none;
}
#replay { 
   position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); 
   cursor: pointer; z-index: 1001; 
}

.bird {
   position: absolute; width: 34px; height: 24px;
   background-image: url('../assets/bird.png');
   animation: animBird 300ms steps(4) infinite;
}

.pipe { position: absolute; width: 52px; height: 100%; z-index: 10; animation: animPipe 5s linear; }
.pipe_upper, .pipe_lower { position: absolute; width: 52px; background: url('../assets/pipe.png') repeat-y center; }
.pipe_upper { top: 0; } .pipe_lower { bottom: 0; }
.pipe_upper:after { content: ""; position: absolute; bottom: 0; width: 52px; height: 26px; background: url('../assets/pipe-down.png'); }
.pipe_lower:after { content: ""; position: absolute; top: 0; width: 52px; height: 26px; background: url('../assets/pipe-up.png'); }

#footer { display: none !important; }
